{% extends "base.html" %}
  {% block title %}{{reading_list.name}}{% endblock %}

    {% block content %}
      <div class="row">
        <div class="col-md-12">
          <h2>Edit Reading List</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form action="{{url_for('reading_lists.edit_reading_list',
          reading_list_id=reading_list.id)}}" method="POST">
            <p>Name:</p>
            <input type="text" name="name" placeholder="{{reading_list.name}}">
            <br>
            <br>
            <p>Description:</p>
            <textarea name="description">{{reading_list.description}}
            </textarea>
            <br>
            <br>
            <input type="submit" value="Edit">
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <a href="{{url_for('reading_lists.show_reading_lists')}}">Cancel</a>
        </div>
      </div>
    {% endblock %}