{% extends "base.html" %}
  {% block title %}New Reading List{% endblock %}

    {% block content %}
      <div class="row">
        <div class="col-md-12">
          <h2>New Reading List</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="error">{{error}}</p>
          <form action="{{url_for('reading_lists.new_reading_list')}}"
          method="POST">
            <p>Name:</p>
            <input type="text" name="name" value="{{name}}">
            <br>
            <br>
            <p>Description:</p>
            <textarea name="description">{{description}}</textarea>
            <br>
            <br>
            <input type="submit" value="Create">
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <a href="{{url_for('reading_lists.show_reading_lists')}}">Cancel</a>
        </div>
      </div>
    {% endblock %}